MONGO_URI=mongodb://localhost:27017/nuxt-auth-db
JWT_ACCESS_SECRET=cok_gizli_access_secret_key_123!
JWT_REFRESH_SECRET=cok_gizli_refresh_secret_key_456!
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
MAIL_USER=seninmailin@gmail.com
MAIL_PASS=google_app_password_buraya
CLIENT_URL=http://localhost:3000